<header>
  {{partial 'navbar'}}
  {{outlet}}
</header>

<div class="logo">
  <img class="logo" src="assets/images/bgLogo.png" alt="British Gas Logo">
</div>

<h1>API Dashboard</h1>

<div class="content">
  <table class="table table-bordered table-striped">
    <thead>
      <!--add sorting to columes-->
      <tr>
        <th>Name</th>
        <th>Hits</th>
        <th>Successful Responses</th>
        <th>Error Responses</th>
        <th>Error Rate</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |apis|}}
      <tr>
        <th>{{apis.name}}</th>
        <th>{{apis.hits}}</th>
        <th>{{apis.success}}</th>
        <th>{{apis.error}}</th>
        <th>{{apis.errorRate}}</th>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<footer>

</footer>
